<div class="sub-navbar mat-elevation-z0">

    <div class="subnav-left">

        <div class="titles">
            <p>Projects > {{ projectTitle }} </p>
            <div class="title">All Bug Listings</div>
        </div>
    </div>

    <div class="subnav-right">

        <button mat-flat-button color="primary">
            <!-- <mat-icon >add</mat-icon> -->
            Button
        </button>
    </div>
</div>
<hr class="navbar-divider" />

<div class="search-filter-section">
    <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search projects</mat-label>
        <input matInput placeholder="Search..." />
        <button mat-icon-button matPrefix>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <div class="space"></div>

    <div class="right-section">
        <button mat-button>
            Click Me
            <mat-icon>arrow-down</mat-icon>
        </button>

      <img src="assets/icons/visnext_logo.png"  width="32" height="32" />


    </div>


</div>

<hr class="navbar-divider" />