.login-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.login-left {
    flex: 0 0 35%;
    background: url('/assets/icons/branding.png') center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    color: #fff;


    .logo {
        width: 190px;
        height: 40px;
    }

    .app-title {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.login-right {
    flex: 1;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.login-content {
    max-width: 448px;
    width: 100%;
    text-align: left;

    .headline {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 30px;
        font-family: 'Poppins', sans-serif;
    }

    .subtext {
        color: #8692A6;
        margin-bottom: 32px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .full-width {
            width: 100%;    
        }

        .submit-btn {
            margin-top: 1rem;
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            width: 170px;
            border-radius: 8px;
            height: 70px;
            font-weight: 600;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
            text-transform: none;

            mat-icon {
                color: #fff;
                margin-left: 55px;
            }
        }

        .error {
            color: #e53935;
            margin-top: 0.5rem;
            font-size: 0.9rem;
        }

        .success {
            color: #43a047;
            margin-top: 0.5rem;
            font-size: 0.9rem;
        }

        mat-icon {
            margin-right: 6px;
            color: #6b7280;
        }
    }

    .signup-text {
        margin-top: 2rem;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        color: #8692A6;
        align-items: center;
        gap: 0.3rem;
        font-family: 'Poppins', sans-serif;

        span {
            flex: 1;
        }

        button {
            font-family: 'Poppins', sans-serif;

        }
    }

    .divider {
        width: 100%;
        border-top: 1px solid #ECECF0;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
        background-color: #F5F5F7 !important;
        border-radius: px;
        height: 64px;
        transition: background-color 0.2s ease;
    }

    ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-flex,
    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-flex {
        background-color: #ffffff !important;
    }

}


// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
//   height: 64px !important;
//   background-color: #F5F5F7 !important;
//   border-radius: 8px;
//   align-items: center;
//   transition: background-color 0.2s ease;
// }

// ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-flex,
// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-flex {
//   background-color: white !important;
// }

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//   padding: 0 12px !important;
//   display: flex;
//   align-items: center;
//   height: 100%;
// }

// ::ng-deep .mat-form-field-prefix,
// ::ng-deep .mat-form-field-suffix {
//   display: flex;
//   align-items: center;
//   height: 100%;
// }