.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;

  .top-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    h1 {
      font-weight: 700;
      font-size: 28px;
      font-family: 'Poppins', sans-serif;

    }
  }

  mat-icon {
    margin-right: 18px;
    margin-left: 4px;
    color: #6b7280;
  }


  // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  //   background-color: #F5F5F7 !important;
  //   border-radius: px;
  //   height: 64px;
  //   width: 440px;
  //   font-weight: 500;
  //   font-size: 15px;
  //   font-family: 'Poppins', sans-serif;
  //   transition: background-color 0.2s ease;
  // }

  // ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-flex,
  // ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-flex {
  //   background-color: #ffffff !important;
  // }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    display: none;
    /* remove Angular Material's outline border */
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    background-color: #F5F5F7 !important;
    border-radius: 6px;
    /* your choice of rounding */
    height: 64px;
    width: 443px;
    font-weight: 500;
    // color: #8B8FA8;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.2s ease;
    padding: 0 16px;
    /* add padding so text doesn't touch edges */
    box-sizing: border-box;
    align-items: center;
  }

  /* Optional: remove ripple and focus border color effects */
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    background-color: #ffffff !important;

    // display: none;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    margin-top: 2px;
    // transform: translateY(-60%);

  }

  ::ng-deep .mat-form-field-label {
    display: none !important;
  }


}

.profile-image-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 16px;
  border: 3px solid #3f51b5;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.profile-form {
  width: 440px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}



// .button-row {
//   display: flex;
//   justify-content: space-between;
//   gap: 16px;
// }


.button-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 440px;
  margin-top: 1.5rem;

  button {
    flex: 1;
    border-radius: 8px;
    height: 56px;
  }
}