
@import '~@angular/material/theming';



// Includes all common styles that are used by multiple Angular Material components
@include mat-core();

// Define your application's custom theme.
$primary-palette: mat-palette($mat-blue);
$accent-palette:  mat-palette($mat-yellow, A200, A100, A400);

// $primary: map-merge($primary-palette, (500: #007DFA));
// $accent: map-merge($accent-palette, (500: #F8C51B));

$theme: mat-light-theme(  
  $primary-palette,
  $accent-palette,  
);

// Include theme styles for Angular Material components and each component used in your app.
@include angular-material-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* styles.scss */

/* Normal outline color */
// .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: #bdbdbd !important; /* or your preferred grey tone */
// }

// .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//   color:  #bdbdbd !important; /* primary blue */
// }

// .mat-form-field-label {
//   color: #9e9e9e !important; /* default grey */
//   opacity: 1 !important; /* ensure visible */
// }

// .mat-form-field.mat-focused .mat-input-element::placeholder {
//   color:#1522d2 !important;
// }

/* Focused outline color */
// .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//   color: #1976d2 !important; /* your primary color */
// }

// /* Hovered state (optional) */
.mat-form-field-appearance-outline:not(.mat-focused):hover .mat-form-field-outline {
  color: #9e9e9e !important;
}

/* Override disabled button color */
.mat-button[disabled],
.mat-raised-button[disabled],
.mat-flat-button[disabled] {
  background-color: #e0e0e0 !important;  // light grey background
  color: #616161 !important;            // darker grey text
  opacity: 1 !important;                 // remove default opacity
  cursor: not-allowed !important;        // show not-allowed cursor
}


