.navbar {
  background: transparent !important;
  box-shadow: none !important;
  color: rgba(0, 0, 0, 0.87); // text color on nav-bar
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  margin-top: 37px;
  margin-inline: auto;
  max-width: calc(100vw - 442px);
  width: 100%;
  padding: 0 16px;
  overflow-x: hidden;

  .navbar-left {
    display: flex;
    align-items: center;
    // gap: 8px;

    .app-logo {
      height: 32px;
      width: 32px;
      margin-right: 8px;
      border-radius: 50%;
    }

    .app-title {
      font-size: 18px;
      font-weight: 700;
      margin-right: 1px;
      font-family: 'Poppins', sans-serif;

    }

    .app-title-next {
      font-weight: 100;
      font-size: 18px;
      font-family: 'Poppins', sans-serif;

    }
  }

  .navbar-center {
    display: flex;
    align-items: center;
    margin-left: 120px;
    gap: 4px;

   

    // button {
    //   display: flex;
    //   align-items: center;
    //   gap: 4px;
    // }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 16px;

    .user-info {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 12px;
      border-radius: 8px;
      background: #F5F5F7;
      color: #333;

      .user-avatar {
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }

      .username {
        font-weight: 500;
      }

      button {
        mat-icon {
          color: #787486;
        }
      }
    }
  }
}

.navbar-divider {
  margin-top: 50px;
  margin-inline: auto;
  max-width: calc(100vw - 442px);
  border: none;
  border-top: 1px solid #ECECEE;
  overflow-x: hidden;
}

.content-container {
  margin: 20px 221px 0 221px; // top right bottom left
  max-width: calc(100vw - 442px);
  overflow-x: hidden; // prevent scroll if content gets wide
}