<mat-toolbar class="navbar">

  <!-- Left: Logo and App Title -->
  <div class="navbar-left">
    <img src="assets/icons/Group.png" class="app-logo" />
    <span class="app-title">MyApp</span>
  </div>

  <!-- Center: Menu Items -->
  <div class="navbar-center">

   <ng-container *ngFor="let option of navbarOptions">

    <img [src]="option.icon" class="custom-icon" alt="Custom Logo" width="20" height="20">

  <button
    mat-button
    (click)="renderView()"
    *ngIf="option.show"
    [routerLink]="option.route">
    <!-- <mat-icon>{{ option.icon }}</mat-icon> -->

    <span>{{ option.title }}</span>
  </button>
</ng-container>


  </div>

  <!-- Spacer -->
  <span class="spacer"></span>

  <!-- Right: Notifications and User -->
  <div class="navbar-right">

    <!-- Notification icon with badge -->
    <button mat-icon-button matBadge=" " matBadgeColor="accent" matBadgeOverlap="false">
      <mat-icon>notifications</mat-icon>
    </button>

    <!-- User card -->
    <div class="user-info" (click)="navToProfile()" >
      <img [src]="userImage" alt="User Avatar" class="user-avatar" />
      <span class="username">{{ username }}</span>
    </div>

  </div>
</mat-toolbar>

<hr class="navbar-divider" />

<div class="content-container">
  <router-outlet></router-outlet>
</div>